*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyles/Project.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/caches/
.idea/misc.xml
.idea/sqlandroid.xml
.idea/dbnavigator.xml
.idea/codeStyles/Project.xml