<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sd.learningproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".webView.simplewebview.SimpleWebViewActivity" />
        <activity android:name=".webView.WebViewActivity" />
        <activity android:name=".webView.basewebview.TestWebViewActivity" />
        <activity android:name=".webView.uploadimage.UploadImageActivity" />
        <activity android:name=".menu.SimpleMenuActivity" />
        <activity android:name=".intent.Intent1Activity" />
        <activity android:name=".intent.Intent2Activity">
            <intent-filter>
                <action android:name="com.example.sd.learningproject.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.sd.learningproject.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.Intent3Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="example"
                    android:host="com.example.sd"
                    android:path="/Intent3Activity" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.Intent4Activity" />
        <activity android:name=".lifecycle.LifeCycleActivity" />
        <activity android:name=".lifecycle.NormalActivity" />
        <activity
            android:name=".lifecycle.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".widget.NormalWidgetActivity" />
        <activity android:name=".listview.NormalListViewActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".listview.customlistview.CustomListActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".recyclerview.StaggeredGridLayoutManagerActivity" />
        <activity android:name=".recyclerview.RecyclerViewStartActivity" />
        <activity android:name=".recyclerview.GridLayoutManagerActivity" />
        <activity android:name=".fragment.FragmentStartActivity" />
        <activity android:name=".fragment.NormalFragmentActivity" />
        <activity android:name=".fragment.DynamicAddFragmentActivity" />
        <activity android:name=".fragment.QualifiersFragmentActivity" />
        <activity android:name=".broadcastreceiver.BroadcastReceiverStartActivity" />
        <activity android:name=".broadcastreceiver.NetworkChangeActivity" />

        <receiver
            android:name=".broadcastreceiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcastreceiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.sd.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcastreceiver.MyBroadcastReceiverActivity" />
        <activity android:name=".broadcastreceiver.LocalBroadcastReceiverActivity" />
        <activity android:name=".storage.FileSaveActivity" />
        <activity android:name=".storage.StorageActivity" />
        <activity android:name=".storage.SharedPreferenceActivity" />
        <activity android:name=".storage.sql.SqlActivity" />
        <activity android:name=".storage.litepal.LitePalActivity" />
        <activity android:name=".permission.PermissionActivity" />
    </application>

</manifest>