<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sd.learningproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".webView.simplewebview.SimpleWebViewActivity" />
        <activity android:name=".webView.WebViewActivity" />
        <activity android:name=".webView.basewebview.TestWebViewActivity" />
        <activity android:name=".webView.uploadimage.UploadImageActivity" />
        <activity android:name=".menu.SimpleMenuActivity" />
        <activity android:name=".intent.Intent1Activity" />
        <activity android:name=".intent.Intent2Activity">
            <intent-filter>
                <action android:name="com.example.sd.learningproject.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.sd.learningproject.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.Intent3Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="example"
                    android:host="com.example.sd"
                    android:path="/Intent3Activity" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.Intent4Activity" />
        <activity android:name=".lifecycle.LifeCycleActivity" />
        <activity android:name=".lifecycle.NormalActivity" />
        <activity
            android:name=".lifecycle.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".widget.NormalWidgetActivity" />
        <activity android:name=".listview.NormalListViewActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".listview.customlistview.CustomListActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
        <activity android:name=".recyclerview.StaggeredGridLayoutManagerActivity" />
        <activity android:name=".recyclerview.RecyclerViewStartActivity" />
        <activity android:name=".recyclerview.GridLayoutManagerActivity" />
        <activity android:name=".fragment.FragmentStartActivity" />
        <activity android:name=".fragment.NormalFragmentActivity" />
        <activity android:name=".fragment.DynamicAddFragmentActivity" />
        <activity android:name=".fragment.QualifiersFragmentActivity" />
        <activity android:name=".broadcastreceiver.BroadcastReceiverStartActivity" />
        <activity android:name=".broadcastreceiver.NetworkChangeActivity" />

        <receiver
            android:name=".broadcastreceiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcastreceiver.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.sd.MY_BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".broadcastreceiver.MyBroadcastReceiverActivity" />
        <activity android:name=".broadcastreceiver.LocalBroadcastReceiverActivity" />
        <activity android:name=".storage.FileSaveActivity" />
        <activity android:name=".storage.StorageActivity" />
        <activity android:name=".storage.SharedPreferenceActivity" />
        <activity android:name=".storage.sql.SqlActivity" />
        <activity android:name=".storage.litepal.LitePalActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".menu.MenuStartActivity" />
        <activity android:name=".menu.SimpleJavaMenuActivity" />
        <activity android:name=".menu.OptionsMenuFragmentActivity" />
        <activity android:name=".menu.ContextMenuActivity" />
        <activity android:name=".menu.PopupMenuActivity" />
        <activity android:name=".contentProvider.ContentProviderStartActivity" />
        <activity android:name=".contentProvider.ReadSystemContactsActivity" />
        <activity android:name=".contentProvider.ContentProviderActivity" />

        <provider
            android:authorities="com.example.sd.learningproject.provider"
            android:name=".contentProvider.MyContentProvider"
            android:enabled="true"
            android:exported="true"></provider>

        <activity android:name=".multimedia.SendNotificationActivity" />
        <activity android:name=".multimedia.NotificationStartActivity" />
        <activity android:name=".multimedia.CameraAndChoosePhotoActivity" />
        <activity android:name=".recyclerview.complexrecyclerview.ComplexRecyclerViewActivity" />

        <provider
            android:authorities="com.example.sd.learningproject.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".multimedia.PlayAudioActivity" />
        <activity android:name=".multimedia.PlayVideoActivity" />
        <activity android:name=".advance.extra.SerializableActivity" />
        <activity android:name=".advance.AdvanceActivity" />
        <activity android:name=".advance.extra.ParcelableActivity" />
        <activity android:name=".internet.InternetStartActivity" />
        <activity android:name=".internet.HttpUrlConnectionActivity" />
        <activity android:name=".internet.OkHttpActivity" />
        <activity android:name=".internet.PullParseXmlActivity" />
        <activity android:name=".internet.SaxParseXmlActivity" />
        <activity android:name=".location.LocationActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="a5DYGzArocBc4fYbxyztgfmMvPhSQDmh" />

        <activity android:name=".location.LocationStartActivity" />
        <activity android:name=".location.BaiduMapActivity" />
        <activity android:name=".service.ServiceStartActivity" />
        <activity android:name=".service.thread.ThreadActivity" />
        <activity android:name=".service.thread.AsyncTaskActivity" />

        <service
            android:name=".service.service.MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".service.service.MyServiceActivity" />
        <activity android:name=".service.service.FrontDeskServiceActivity" />

        <service
            android:name=".service.service.FrontDeskService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name=".service.service.IntentServiceActivity" />
        <service android:name=".service.service.MyIntentService" />
        <activity
            android:name=".materialdesign.toolbar.ToolBarActivity"
            android:theme="@style/ToolbarTheme"
            android:label="toolbar"/>
        <activity android:name=".materialdesign.MaterialDesignStartActivity" />
        <activity android:name=".materialdesign.button.SuspendButtonActivity" />
    </application>

</manifest>