<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sd.learningproject">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".webView.simplewebview.SimpleWebViewActivity" />
        <activity android:name=".webView.WebViewActivity" />
        <activity android:name=".webView.basewebview.BaseWebViewActivity" />
        <activity android:name=".webView.basewebview.TestWebViewActivity" />
        <activity android:name=".webView.uploadimage.UploadImageActivity" />
        <activity android:name=".menu.SimpleMenuActivity" />
        <activity android:name=".intent.Intent1Activity" />
        <activity android:name=".intent.Intent2Activity">
            <intent-filter>
                <action android:name="com.example.sd.learningproject.ACTION_START" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.sd.learningproject.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.Intent3Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="example"
                    android:host="com.example.sd"
                    android:path="/Intent3Activity" />
            </intent-filter>
        </activity>
        <activity android:name=".intent.Intent4Activity" />
        <activity android:name=".lifecycle.LifeCycleActivity" />
        <activity android:name=".lifecycle.NormalActivity" />
        <activity android:name=".lifecycle.DialogActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".widget.NormalWidgetActivity" />
        <activity android:name=".listview.NormalListViewActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".listview.customlistview.CustomListActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />
     </application>

</manifest>